*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
.wrapper {
  background-image: linear-gradient(to right, #054F7D, #00A7CF, #861A54, #054F7D);
  background-size: 600%;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}
@media (max-width: 830px) {}
@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* clock start ----------------->*/
#thisTime {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 600px;
  border-style: solid;
  border-width: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  width: 340px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
}
/* for smaller screens below 700px */
@media only screen and (max-width: 700px) {
  body {
    font-size: 1.8rem;
  }
}
/*for smaller screens below 300px*/
@media only screen and (max-width: 300px) {
  body {
    font-size: 1.6rem;
  }
}
#thisTime:hover {
  background-image: linear-gradient(to right, #054F7D, #00A7CF, #861A54, #054F7D);
  background-size: 600%;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}
#displayTime {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

  .form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  .form.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .form-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .form-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .form-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .form-section {
    padding: 10px 15px;
  }

#logo {
   margin: auto;
  display: block;
  width: 10%;
  height: auto;
}
h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  margin: 80px 0;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.buttonn {
  font-size: 1em;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.buttonn:hover {
  background: #06D85F;
}
.over {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.over:target {
  visibility: visible;
  opacity: 1;
}
.pop {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.pop h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.pop .closed {
  position: absolute;
  right: 30px;
  transition: all 100ms;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.pop .closed:hover {
  color: #094D6F;
}
.pop .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.popup{
  background-color: rgba(0,0,0,0.5);
  width: 450px;
  height: 500px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none;
  text-align: center;
}
.popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #C5C5C5;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
a{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 0;
}
/* brain dump popup box end*/
/* envelope -------------------->*/
.letter-image {
position: absolute;
top: 50%;
left: 50%;
width: 200px;
height: 200px;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
cursor: pointer;
}
.mail {
position: absolute;
height: 150px;
width: 200px;
-webkit-transition: 0.4s;
-moz-transition: 0.4s;
transition: 0.4s;
}
.mail .body {
position: absolute;
bottom: 0;
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 100px 200px;
border-color: transparent transparent #E95F55 transparent;
z-index: 2;
}
.mail .top-fold {
position: absolute;
top: 50px;
width: 0;
height: 0;
border-style: solid;
border-width: 50px 100px 0 100px;
-webkit-transform-origin: 50% 0%;
-webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
-moz-transform-origin: 50% 0%;
-moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
transform-origin: 50% 0%;
transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
border-color: #CF4A43 transparent transparent transparent;
z-index: 2;
}
.mail .back-fold {
position: absolute;
bottom: 0;
width: 200px;
height: 100px;
background: #CF4A43;
z-index: 0;
}
.mail .left-fold {
position: absolute;
bottom: 0;
width: 0;
height: 0;
border-style: solid;
border-width: 50px 0 50px 100px;
border-color: transparent transparent transparent #E15349;
z-index: 2;
}
.mail .letter {
left: 20px;
bottom: 0px;
position: absolute;
width: 160px;
height: 60px;
background: white;
z-index: 1;
overflow: hidden;
-webkit-transition: 0.4s 0.2s;
-moz-transition: 0.4s 0.2s;
transition: 0.4s 0.2s;
}
.mail .letter .letter-border {
height: 10px;
width: 100%;
background: repeating-linear-gradient(-45deg, #CB5A5E, #CB5A5E 8px, transparent 8px, transparent 18px);
}
.mail .letter .letter-title {
margin-top: 10px;
margin-left: 5px;
height: 10px;
width: 40%;
background: #CB5A5E;
}
.mail .letter .letter-context {
margin-top: 10px;
margin-left: 5px;
height: 10px;
width: 20%;
background: #CB5A5E;
}
.mail .letter .letter-stamp {
margin-top: 30px;
margin-left: 120px;
border-radius: 100%;
height: 30px;
width: 30px;
background: #CB5A5E;
opacity: 0.3;
}
.shadow {
position: absolute;
top: 200px;
left: 50%;
width: 400px;
height: 30px;
transition: 0.4s;
transform: translateX(-50%);
-webkit-transition: 0.4s;
-webkit-transform: translateX(-50%);
-moz-transition: 0.4s;
-moz-transform: translateX(-50%);
border-radius: 100%;
background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}
.letter-image:hover .mail {
transform: translateY(50px);
-webkit-transform: translateY(50px);
-moz-transform: translateY(50px);
}
.letter-image:hover .mail .top-fold {
transition: transform 0.4s, z-index 0.2s;
transform: rotateX(180deg);
-webkit-transition: transform 0.4s, z-index 0.2s;
-webkit-transform: rotateX(180deg);
-moz-transition: transform 0.4s, z-index 0.2s;
-moz-transform: rotateX(180deg);
z-index: 0;
}
.letter-image:hover .mail .letter {
height: 180px;
}
.letter-image:hover .shadow {
width: 250px;
}
/* envelope -------------------->*/